*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e5ddd5;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #2d9d90;
    color: white;
    padding: 10px;
    font-size: 20px;
}

#chat {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.message {
    max-width: 60%;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #0f0f0f;
    align-self: flex-end;
}

.teacher {
    background-color: #fff;
    align-self: flex-start;
}

#input-area {
    display: flex;
    padding: 10px;
    background-color: white;
}

#input-area input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

#input-area button {
    padding: 10px;
    background-color: #075e54;
    color: white;
    border: none;
    cursor: pointer;
}