*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height:100%;
    background: #161515;
    font-family:"Inter", Arial;
}

nav{
    width: 100%;
    height: 12vh;
    display: flex;
    gap: 50vh;
}

#company{
    align-items: center;
    width: 30vh;
    display: flex;
    gap: 2vh;
}

#company img{
    margin-left: 10vh;
    margin-top: 5vh;
    width: auto;
    height: 5vh;
}

#company p{
    margin-top: 5vh;
    color: white;
    font-size: 25px;
}

#auth{
    margin-top: 3vh;
    width: 125vh;
    height: 11vh;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.auth-btn{
    height: 8vh;
    width: 30vh;
    border:none;
    border-color: #161515;
    background-color: #ffffff;
    color: #161515;
    font-size: 20px;
}

.auth-btn:hover{
    color: rgb(51, 174, 174);
    transform: scale(1.1);
    transition: 0.2s;   
}


#landing-pg{
    height: 85vh;
    width: 100%;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#landing-pg #background{
    height: 80vh;
    width: 201vh;
    border-radius: 40px;
}

#textbox{
    position: absolute;
    margin-right: 50%;
    margin-bottom: 15%;
    
}

#textbox p{
    font-size: 60px;
    font-weight: 500;
}

#textbox #anon{
    color: rgb(54, 148, 148);
}